*{
  margin:0;
  padding:0;
}
header{
  padding:10px;
}
ul li{
  list-style: none;
}
#content_editor{
  width: 100%;
  height: 50px;
}
.CodeMirror,
.CodeMirror-scroll {
  max-height: 300px;
}
.ticket-types{
  padding:5px 0;
}
.ticket-headers{
  padding-bottom: 20px;
}
