<html lang="en">
<head>
    <title>Ticket</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="<%= helper.assets('bootstrap/js/bootstrap.js')%>"></script>
    <link rel="stylesheet" href='<%= helper.assets("bootstrap/css/bootstrap.css")%>'>
    <link rel="stylesheet" href='<%= helper.assets("css/style.css")%>'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
