<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ticket</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src='<%= helper.assets("js/jquery-3.3.1.min.js")%>'></script>
    <script type="text/javascript" src='<%= helper.assets("bootstrap/js/bootstrap.js")%>'></script>
    <link rel="stylesheet" href='<%= helper.assets("bootstrap/css/bootstrap.css")%>'>
    <link rel="stylesheet" href='<%= helper.assets("simplemde/dist/simplemde.min.css")%>'>
    <script type="text/javascript" src='<%= helper.assets("simplemde/dist/simplemde.min.js")%>'></script>
    <link rel="stylesheet" href='<%= helper.assets("css/app.css")%>'>
</head>
<body>
