<%- include('header.html') -%>
<header class="container">
    <h1>Ticket</h1>
</header>
<div class="container">
    <div class="container">
        <div class="row ticket-headers">
            <div class="ticket-type row col-3">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-info active">
                        <input type="radio" name="options" value="task" autocomplete="off" checked>TASK
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="options" value="feature" autocomplete="off">计划
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="options" value="tmp" autocomplete="off">临时
                    </label>
                </div>
            </div>
            <div class="ticket-priority row col-3">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-light active">
                        <input type="radio" name="options" value="medium" autocomplete="off" checked>一般
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="options" value="high" autocomplete="off">紧急
                    </label>
                    <label class="btn btn-light">
                        <input type="radio" name="options" value="immediately" autocomplete="off">立刻
                    </label>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="/add">
        <textarea name="body" id="content_editor" rows="10"></textarea>
        <input type="text" name="type" value="task">
        <input type="text" name="priority" value="medium">
        <input type="submit" value="提交" class="btn btn-lg btn-success">
        <script type="text/javascript">
         $(function() {
            new SimpleMDE({
                element: document.getElementById("content_editor"),
                placeholder: "添加内容....",
            });

            $(".ticket-type input").bind("click", function() {
                $(this).addClass('active');
            });
        });
        </script>
    </form>
    <div class="ticket_list">
        <ul>
            <% if(data) { %>
            <% for(var r=0; r < data.length; ++r) { %>
            <li class="<%= decodeURI(data[r].type) %>">
                <%- data[r].description%>
            </li>
            <hr/>
            <% } %>
            <% } %>
        </ul>
    </div>
</div>
<%- include('footer.html') -%>
