*{
    margin:0;
    padding:0;
}
header{
    padding:10px;
}
ul li{
    list-style: none;
}
#content_editor{
    width: 100%;
    height: 50px;
}
.CodeMirror,
.CodeMirror-scroll {
    max-height: 300px;
}
.ticket-types{
    padding:5px 0;
}
.ticket-headers{
    padding-bottom: 20px;
}
li.item-task.item-immediately.list-group-item {
    background: #F8A;
}
li.item-task.item-high.list-group-item {
    background: #F86;
}
li.item-tmp.item-medium.list-group-item {
    background: #EDC;
}
.ticket-body img, .comment_content img{
    max-width: 100%;
}
ul.list-group.comments_body {
    padding-top: 15px;
}
.comment_content{
    padding-bottom: 10px;
}
pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
    background: #eee;
    display: block;
    padding: 5px;
}
